    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:20
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-aquarium-octopus:before { content: "\f100"; }
.flaticon-bear-facing-right:before { content: "\f101"; }
.flaticon-beaver-facing-right:before { content: "\f102"; }
.flaticon-big-bug:before { content: "\f103"; }
.flaticon-big-fish:before { content: "\f104"; }
.flaticon-big-owl:before { content: "\f105"; }
.flaticon-big-toucan:before { content: "\f106"; }
.flaticon-bird-facing-right:before { content: "\f107"; }
.flaticon-bull-facing-right:before { content: "\f108"; }
.flaticon-cat-facing-right:before { content: "\f109"; }
.flaticon-chicken-looking-right:before { content: "\f10a"; }
.flaticon-cougar:before { content: "\f10b"; }
.flaticon-coyote-facing-right:before { content: "\f10c"; }
.flaticon-crocodile-facing-right:before { content: "\f10d"; }
.flaticon-deer-facing-right:before { content: "\f10e"; }
.flaticon-dog-facing-right:before { content: "\f10f"; }
.flaticon-dromedary-facing-right:before { content: "\f110"; }
.flaticon-duck-facing-right:before { content: "\f111"; }
.flaticon-elephant-facing-right:before { content: "\f112"; }
.flaticon-fox-sitting:before { content: "\f113"; }
.flaticon-frog-facing-right:before { content: "\f114"; }
.flaticon-giraffe-facing-right:before { content: "\f115"; }
.flaticon-gorilla-facing-right:before { content: "\f116"; }
.flaticon-hamster-facing-right:before { content: "\f117"; }
.flaticon-hippopotamus-looking-right:before { content: "\f118"; }
.flaticon-horse-facing-right:before { content: "\f119"; }
.flaticon-kangaroo-looking-right:before { content: "\f11a"; }
.flaticon-lion-facing-right:before { content: "\f11b"; }
.flaticon-lizard-facing-right:before { content: "\f11c"; }
.flaticon-monkey-facing-right:before { content: "\f11d"; }
.flaticon-ostrich-facing-right:before { content: "\f11e"; }
.flaticon-otter-facing-right:before { content: "\f11f"; }
.flaticon-penguin-facing-right:before { content: "\f120"; }
.flaticon-pig-facing-right:before { content: "\f121"; }
.flaticon-rabbit-facing-right:before { content: "\f122"; }
.flaticon-raccoon-facing-right:before { content: "\f123"; }
.flaticon-ram-facing-right:before { content: "\f124"; }
.flaticon-rat-looking-right:before { content: "\f125"; }
.flaticon-rhinoceros-facing-right:before { content: "\f126"; }
.flaticon-seahorse-facing-right:before { content: "\f127"; }
.flaticon-shark-facing-right:before { content: "\f128"; }
.flaticon-sheep-looking-right:before { content: "\f129"; }
.flaticon-shrimp-facing-right:before { content: "\f12a"; }
.flaticon-snail-facing-right:before { content: "\f12b"; }
.flaticon-snake-facing-right:before { content: "\f12c"; }
.flaticon-squirrel-facing-right:before { content: "\f12d"; }
.flaticon-swan-facing-right:before { content: "\f12e"; }
.flaticon-turkey-facing-right:before { content: "\f12f"; }
.flaticon-turtle-facing-right:before { content: "\f130"; }
.flaticon-whale-facing-right:before { content: "\f131"; }
    
    $font-Flaticon-aquarium-octopus: "\f100";
    $font-Flaticon-bear-facing-right: "\f101";
    $font-Flaticon-beaver-facing-right: "\f102";
    $font-Flaticon-big-bug: "\f103";
    $font-Flaticon-big-fish: "\f104";
    $font-Flaticon-big-owl: "\f105";
    $font-Flaticon-big-toucan: "\f106";
    $font-Flaticon-bird-facing-right: "\f107";
    $font-Flaticon-bull-facing-right: "\f108";
    $font-Flaticon-cat-facing-right: "\f109";
    $font-Flaticon-chicken-looking-right: "\f10a";
    $font-Flaticon-cougar: "\f10b";
    $font-Flaticon-coyote-facing-right: "\f10c";
    $font-Flaticon-crocodile-facing-right: "\f10d";
    $font-Flaticon-deer-facing-right: "\f10e";
    $font-Flaticon-dog-facing-right: "\f10f";
    $font-Flaticon-dromedary-facing-right: "\f110";
    $font-Flaticon-duck-facing-right: "\f111";
    $font-Flaticon-elephant-facing-right: "\f112";
    $font-Flaticon-fox-sitting: "\f113";
    $font-Flaticon-frog-facing-right: "\f114";
    $font-Flaticon-giraffe-facing-right: "\f115";
    $font-Flaticon-gorilla-facing-right: "\f116";
    $font-Flaticon-hamster-facing-right: "\f117";
    $font-Flaticon-hippopotamus-looking-right: "\f118";
    $font-Flaticon-horse-facing-right: "\f119";
    $font-Flaticon-kangaroo-looking-right: "\f11a";
    $font-Flaticon-lion-facing-right: "\f11b";
    $font-Flaticon-lizard-facing-right: "\f11c";
    $font-Flaticon-monkey-facing-right: "\f11d";
    $font-Flaticon-ostrich-facing-right: "\f11e";
    $font-Flaticon-otter-facing-right: "\f11f";
    $font-Flaticon-penguin-facing-right: "\f120";
    $font-Flaticon-pig-facing-right: "\f121";
    $font-Flaticon-rabbit-facing-right: "\f122";
    $font-Flaticon-raccoon-facing-right: "\f123";
    $font-Flaticon-ram-facing-right: "\f124";
    $font-Flaticon-rat-looking-right: "\f125";
    $font-Flaticon-rhinoceros-facing-right: "\f126";
    $font-Flaticon-seahorse-facing-right: "\f127";
    $font-Flaticon-shark-facing-right: "\f128";
    $font-Flaticon-sheep-looking-right: "\f129";
    $font-Flaticon-shrimp-facing-right: "\f12a";
    $font-Flaticon-snail-facing-right: "\f12b";
    $font-Flaticon-snake-facing-right: "\f12c";
    $font-Flaticon-squirrel-facing-right: "\f12d";
    $font-Flaticon-swan-facing-right: "\f12e";
    $font-Flaticon-turkey-facing-right: "\f12f";
    $font-Flaticon-turtle-facing-right: "\f130";
    $font-Flaticon-whale-facing-right: "\f131";